<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://hmghaly.github.io/script.js"></script>
    <script src="assets/js/main.js"></script>

    <title>Dashboard</title>
    <script type="text/javascript">
        //var data_dict={}
    	function sleep(duration){
    		return new Promise(resolve => setTimeout(resolve, duration));
    	}
    	async function submit_data() {
    		console.log("submit data")
            upload_dict=await get_form_vals("upload_form")
            console.log(upload_dict)

            $$("progress_div").innerHTML=""
    		$$("progress_div").innerHTML+="uploading file <br>"
            upload_response_dict=await post_data_async("upload",upload_dict)
            console.log(upload_response_dict)

    		//await sleep(1000)
    		//await new Promise(resolve => setTimeout(resolve, 1000));
    		$$("progress_div").innerHTML+="file uploaded successfully ✅ <br>"
    		$$("progress_div").innerHTML+="started processing  <br>"

            processing_response_dict=await post_data_async("process",upload_response_dict)
            console.log(processing_response_dict)


    		//await sleep(1000)
    		//await new Promise(resolve => setTimeout(resolve, 1000));
    		$$("progress_div").innerHTML+="file processed successfully ✅ <br>"
    		$$("progress_div").innerHTML+="creating interface link <br>"
    		//await sleep(1000)
    		$$("progress_div").innerHTML+="interface link created successfully ✅ <br>"
            html_fpath=processing_response_dict["cur_html_fpath"]
            link='<a href="_href_" target="new">Interface Link</a>'.replace("_href_","interface?link="+html_fpath)
    		
    		//await new Promise(resolve => setTimeout(resolve, 1000));
    		$$("progress_div").innerHTML+="You will be redirected to interface page. If Not, go to: "+link


    	}

        async function init(){
            response0=await post_data_async("list_edits",{})
            console.log(response0)
            cur_headers=["Decision","Replacement", "Affected","Document"]
            content_list=[]
            for (item0 of response0){
                decicion0=item0["decision"]
                repl_str0=item0["repl"]
                repl0=repl(repl_str0,"|","⇨")
                affected0=item0["affected"]
                url0=item0["link"]
                url0="process?link="+url0//.replace("processing/","process?link=")
                link_template0='<a href="_url0_" target="new">Link</a>'
                link0=repl(link_template0,"_url0_",url0)
                content_list.push([decicion0,repl0,affected0,link0])
            }

            //content_list=[["Adam","aa@bb.cc"],["Adam22","aa33@bb.cc"]]
            
            fill_table_all("dashboard_table",content_list,headers=cur_headers)
        }

        // function fill_table(table_obj,table_content_2d_list,headers){
        //     table_obj.innerHTML=""
        // }

        // function fill_table_all(table_id,table_content_list,headers=[]){ //fill table with both headers and rows content
        //     table_el=$$(table_id)
        //     table_el.innerHTML=""
        //     var thead = document.createElement('thead');
        //     table_el.appendChild(thead);

        //     for (var i=0; i<headers.length; i++) {
        //         thead.appendChild(document.createElement("th")).
        //               appendChild(document.createTextNode(headers[i]));
        //     }

        //     var tbody = document.createElement('tbody');
        //     table_el.appendChild(tbody);

        //     for (const item0 of table_content_list){
        //         var row = table_el.insertRow(-1);
        //         for (const sub_item of item0){
        //             var cell0 = row.insertCell(-1);
        //             cell0.innerHTML=str(sub_item)
        //         }
        //     }
        //     return table_el    
        // }

    </script>
  </head>
  <body onload="init()">

    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="/">Pre-edit Document</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="input">Pre-edit Text</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="dashboard">Dashboard</a>
      </li>
    </ul>
    <hr>


    <h1 class="text-center">Dashboard</h1>
    <p class="m-2 text-center">Analyzing the output of pre-editing for human evaluation. </p>

    <table class="table table-striped m-3" id="dashboard_table">
  
    </table>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

