<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://hmghaly.github.io/script.js"></script>
    <script src="assets/js/main.js"></script>

    <title>AI Pre-editing Assistant</title>
    <script type="text/javascript">
        //var data_dict={}
    	function sleep(duration){
    		return new Promise(resolve => setTimeout(resolve, duration));
    	}
    	async function submit_data() {
    		console.log("submit data")
            upload_dict=await get_form_vals("upload_form")
            console.log(upload_dict)


    		$$("progress_div").innerHTML+="uploading file <br>"
            upload_response_dict=await post_data_async("upload",upload_dict)
            console.log(upload_response_dict)

    		//await sleep(1000)
    		//await new Promise(resolve => setTimeout(resolve, 1000));
    		$$("progress_div").innerHTML+="file uploaded successfully ✅ <br>"
    		$$("progress_div").innerHTML+="started processing  <br>"

            processing_response_dict=await post_data_async("process",upload_response_dict)
            console.log(processing_response_dict)


    		//await sleep(1000)
    		//await new Promise(resolve => setTimeout(resolve, 1000));
    		$$("progress_div").innerHTML+="file processed successfully ✅ <br>"
    		$$("progress_div").innerHTML+="creating interface link <br>"
    		await sleep(1000)
    		$$("progress_div").innerHTML+="interface link created successfully ✅ <br>"
    		
    		//await new Promise(resolve => setTimeout(resolve, 1000));
    		$$("progress_div").innerHTML+="You will be redirected to interface page. If Not, go to <a href='interface?file_id=AAA'>Interface Link</a>"


    	}

    </script>
  </head>
  <body>
    <h1 class="text-center">AI Pre-editing Assistant</h1>
    <p class="m-2 text-center">This tool uses AI to learn from the edits of previous documents, and apply such edits in new documents. </p>

<div class="m-2">
  <label for="formFileLg" class="form-label">Upload your document (.docx) below for processing.</label>
  <input class="form-control form-control-lg mb-2 upload_form" id="formFileLg" name="uploaded_file" type="file">

	<label for="model_select" class="form-label">Select Model:</label>
	<select id="model_select" class="form-select mb-2 upload_form" aria-label="Default select example" name="selected_model">
	  <option value="neural_model1">Neural Model 1</option>
	  <option value="non_contexual_model">Non-Contexual Model (High Precision - Low Recall)</option>
	  <option value="noisy_model">Noisy Model (High Recall - Low Precision)</option>
	</select>

	<div class="d-grid gap-2 col-6 mx-auto">
	  <button class="btn btn-primary btn-lg" type="button" onclick="submit_data()">Process Document</button>
	</div>

</div>
<div class="m-2">
	<h3>Progress:</h3> 
	<div id="progress_div"></div>

</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

